body
{
	background-color: #fff;
	font-family: sans-serif;
}

.side
{
	width: 50%;
	height: 100%;
	top: 0%;
	position: absolute;
    background-color: #f1f1f1;
}

#leftSide
{
	left: 0%;
}

#quickSaveButton
{
	left: 0%;
	width: 25%;
}

#saveAsButton
{
	left: 25%;
	width: 25%;
}

#quickLoadButton
{
	left: 50%;
	width: 25%;
}

#loadButton
{
	left: 75%;
	width: 25%;
}

#blocklyDiv
{
	z-index: 1;
    width: 100%;
    height: 100%;
}

#showErrors
{
	top: 90%;
	height: 10%;
	width: 100%;
	background-color: rgb(255, 150, 150);
	z-index: 2;
	position: absolute;
	border-radius: 25px;
	display: none;
}

#errorTextDiv
{
	padding: 20px;
}

#rightSide
{
	left: 50%;
}
.tab
{
	height: 30px;
	position: absolute;
    background-color: f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
	z-index: 2;
}

#graphTab
{
	left: 0%;
	width: 25%;
}

#infoTab
{
	left: 25%;
	width: 25%;
}

#simulatorTab
{
	left: 50%;
	width: 25%;
}

#settingsTab
{
	left: 75%;
	width: 25%;
}

.settingsPlacement
{
	padding: 5px;
	width: 250px;
}

.settingInput
{
	width: 60px;
	float: right;
}

.tab:hover
{
    background-color: #cec;
}

.tab.active
{
	background-color: #ccc;
}

.tabItemContent
{
    display: none;
}

.tabContent
{
	width: 100%;
	height: calc(100% - 30px);
	top:30px;
	position: absolute;
	z-index: 1;
}

#graphDiv
{
	width: 100%;
	height: 100%;
}

#simulatorCanvas
{
	width: 100%;
	height: 100%;
}
